.movie-detail {
  display: flex;
  align-items: flex-start;
  gap: 20px;

  padding: 10px;

  .movie-image {
    flex-shrink: 0;
    width: 300px;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }

  .movie-info {
    flex-grow: 1;

    h1 {
      margin-top: 0;
      font-size: 30px;
    }
    h2 {
      color: #bf4f74;
      font-size: 22px;
    }

    h3 {
      color: #bf4f74;
    }

    p {
      margin-top: 0.5em;
      color: #4c4d52;
    }
  }
}

.additional-info {
  padding: 5px;
  border-top: 1px solid #e0e0e0;

  h4 {
    margin: 5px;
    color: #4c4d52;
  }
  ul {
    list-style: none;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
