.movie-list {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  list-style: none;
  padding: 5px;
  margin: 0;

  li {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }

  a {
    color: #4c4d52;
    text-decoration: none;
    font-size: 1.1rem;

    &:hover {
      color: #bf4f74;
      font-weight: bold;
    }
  }
}
